form{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 512px;
    border: 2px black solid;
    padding: 20px;
}
.button{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(85, 85, 34);
}
button:hover{
    background-color: yellowgreen;
}
