  
  <!-- As a heading -->
  <nav  class="navbar navbar-light bg-dark">
    <div  class="container-fluid ">
      <span  class="navbar-brand fw-bold mb-0 h1 text-light ">USER MANAGEMENT SYSTEM</span>
    </div>
  </nav>



  <!-- form -->
  <form >
    <h3 style="text-align: center; margin-bottom: 20px;">Register</h3>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input [(ngModel)]="email" name="email" type="email" id="form1Example1" class="form-control" />
      <label class="form-label"   for="form1Example1">Email address</label>
    </div>

    <!-- username -->
    <div class="form-outline mb-4">
        <input [(ngModel)]="username" name="username" type="text" id="form1Example1" class="form-control" />
        <label class="form-label"   for="form1Example1">Username</label>
      </div>
    
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" [(ngModel)]="password" name="password" id="form1Example2" class="form-control" />
      <label class="form-label" for="form1Example2">Password</label>
    </div>

    <!-- security question -->
    <label class="form-label" for="form1Example2">SELECT A SECURITY QUESTION</label>
    <select [(ngModel)]="question" name="question"  id="">
        <option value="WHAT IS YOUR PET'S NAME?">WHAT IS YOUR PET'S NAME?</option>
        <option value="WHO IS YOUR FIRST SCHOOL TEACHER?">WHO IS YOUR FIRST SCHOOL TEACHER?</option>
        <option value="HOW MUCH WAS YOUR FIRST EARNING?">HOW MUCH WAS YOUR FIRST EARNING?</option>
    </select>
    <input [(ngModel)]="answer" name="answer" style="margin-bottom: 20px;" type="text" id="form1Example2" placeholder="TYPE YOUR ANSWER" class="form-control" />


  
  
    <!-- Submit button -->
    <div class="button">
      <button type="submit" (click)="register()" class="btn btn-primary btn-block">Sign in</button>
      <a routerLink=""  >Back to login</a>  
    </div>

  </form>







  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">UserManagementSystem.com</a>
    </div>
    <!-- Copyright -->
  </footer>